@charset "UTF-8";
/* CSS Document */


/* SEXTA PARTE */

    .sexta-parte {display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    width: 100%;
    height: 100%;}

    /* TITULO-APR */

        .titulo-apr {width: 100%;
        height: 30px;
        font-family: 'Lexend';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
        color: #031F57;}

    /* TITULO-APR */

    /* CHEK-SUB-CONTAINER */

        .chek-sub-container {display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0px;
        gap: 75px;
        width: 100%;
        height: 100%;}

        /* CHEK-SUB */

            .chek-sub {display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            gap: 10px;
            width: 100%;
            height: 100%;}

            /* SUB-APR */

                .sub-apr {width: 100%;
                height: 20px;
                font-family: 'Lexend';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                color: #031F57;}

            /* SUB-APR */

            /* CHEK */

                .chek {display: flex;
                flex-direction: row;
                align-items: center;
                padding: 0px;
                gap: 10px;
                width: 100%;}

                .txt-apr {width: 100%;
                height: auto;
                font-family: 'Liter';
                font-style: normal;
                font-weight: 400;
                font-size: 13px;
                line-height: 19px;
                color: #001342;}

            /* CHEK */

        /* CHEK-SUB */

    /* CHEK-SUB-CONTAINER */

/* SEXTA PARTE */